@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&family=Lora:wght@400;500;700&family=Poppins:wght@100;200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --blue: #1446A0;
    --white: #ffffff;
    --dark: #3C3C3B;
    --grey: #EBEBD3;
    --pink: #DB3069;
    --ultra-red: #ED6B86;
    --yellow: #F5D547;
    --lightblue: #48B8D0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body .navbar-nav {
    font-size: 20px;
    font-weight: 400;
}

/* ---------- Text ---------- */

#opening-title {
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    font-size: 100px;
    z-index: 1;
    padding-top: 150px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, .8);
}

#opening-description {
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    justify-content: center;
    font-weight: 100;
    padding-top: 10px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, .8);
}

/* ---------- Navbar ---------- */

.navbar {
    width: 100%;
    background-color: var(--blue) !important;
    z-index: 2;
    text-align: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding-right: 20px;
}


/* --------------- important tag here to override bootstrap and transition added */
.nav-link:hover {
    color: var(--ultra-red) !important;
    transition: 0.8s;
}

#logo-navbar {
    height: 85px;
    width: 225px;
}


/* ------------------------------ Header Image ---------------------------- */


.header-about {
    background: url("../images/dublin-skyline.jpeg") no-repeat center;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: hidden;
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;

}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}


/* ------------------------------- Events section -------------------------- */

.events-section-container {
    background: #fff;
    position: relative;
    color: var(--blue);
    margin: 0;
    text-align: center;
    padding: 200px 40px;
    min-height: 400px;
}